#scrollContainer {
  width: 300%;

  // position: fixed;
  // overflow-y: scroll;
  // top: 0;
  // left: 0;
  z-index: 999;
  .work-component {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;

    .full-screen {
      display: block;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    .panel {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #333;
    }

    .work-general {
      display: flex;
      .work-img {
        width: 50%;
        background-size: cover;
      }
      .work-info {
        width: 50%;
        .work-info-component {
          padding: 4rem;
          .top-copy {
            margin-bottom: 50px;
            p {
              margin-bottom: 10px;
              font-size: 16px;
              line-height: 22px;
              font-weight: bold;
              color: #333;
            }
          }
          .middle-copy {
            text-align: justify;

            h1 {
              margin-bottom: 30px;
              font-size: 42px;
              font-weight: bold;
              color: #333;
            }

            p {
              font-size: 18px;
              line-height: 1.5;
              color: #333;
            }
          }
        }
      }
    }
    .work-video {
      background-color: red;
    }
    .work-image {
      background-size: cover;
      position: center;
    }
  }
}
