@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
body.modal-open {
  overflow-y: hidden;
}
html.modal-open {
  overflow-y: hidden;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

p {
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.75rem;
}
