.work-section {
  background-color: #778899;
  position: relative;
  height: 100%;
  .left-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    &.fixed {
      position: fixed;
      background-color: #778899;
      left: 0;
      bottom: 0;
      right: 50%;
      width: 50%;
      height: 100%;
    }
    .content {
      padding: 3rem;
      text-align: center;

      h1 {
        font-weight: bold;
      }
      p {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
  }
  .right-section {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    .content-img {
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
